<ion-content color="tertiary">
  <div class="padding">
    
    <div class="logo" style="font-weight: bold;">

      
      
       <!-- <img class="img-rounded" src="/assets/dbz.jpeg">  -->
    </div>

    <ion-item >
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>

    <ion-button color="light" expand="block" shape="round" fill="outline">Se connecter</ion-button>
    <br>
    <ion-button color="tertiary" expand="block" shape="round">S'inscrire</ion-button>

    
    
    

  </div>
</ion-content>
