<ion-content color="tertiary">
  <div class="padding">
    
    <div class="logo">
      
       <!-- <img class="img-rounded" src="/assets/dbz.jpeg">  -->
    </div>

    <ion-item >
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>

    
    <ion-list color="tertiary">
      <ion-radio-group value="biff">
        <ion-list-header>
          <ion-label>Role utilisateur</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Propriétaire</ion-label>
          <ion-radio slot="start" value="biff"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Gérant</ion-label>
          <ion-radio slot="start" value="biff"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
    </ion-list>

    <ion-button color="light" expand="block" shape="round" fill="outline">Inscrire</ion-button>
    <br>
    <ion-button color="tertiary" expand="block" shape="round">Connexion</ion-button>

    
    
    

  </div>
</ion-content>
